$color-primary:#55c57a;
$color-primary-light:#7ed56f;
$color-primary-dark:#28b485;
$color-grey-light:#f7f7f7f7;
$color-font-white: rgb(236, 233, 233);
$color-black:#333;

$color-white:white;

$color-secondary-light: #ffd900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark:#5643fa;

//gird
$gird-width:114rem;
$gutter-vatical:8rem;
$gutter-horizontal:6rem;
